:root {
    --dark: #1F2937;
    --light-primary: #F9FAF8;
    --light-secondary: #E5E7EB;
    --btn-blue: #3882F6;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--light-primary);
}

.navbar {
    display: flex;
    background: var(--dark);
    justify-content: space-around;
}

.navItem {
    list-style: none;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: var(--light-primary);
    padding: 15px;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

header {
    background: var(--dark);
    padding: 1px;
    display: flex;
    justify-content: space-around;
    padding-left: 11vw;
    padding-right: 12vw;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 90px;
}

.heroimg {
    height: 22vh;
    width: 400px;
}

.herotext {
    width: 21vw;
}

.herotitle {
    margin: 0;
    font-size: 26pt;
}

.herop {
    margin: 0;
    margin-bottom: 20px;
    color: var(--light-secondary);
}

header a {
    background-color: var(--btn-blue);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-primary);
}